# **データクレンジングとしての前処理**

3.1 顧客マスタ master_customerの行数の確認

In [ ]:
# 必要なライブラリのインポート
import pandas as pd
# データセットの読み込み (dfにcsvデータを読み込む）
df = pd.read_csv('master_customer.csv')
#読み込んだデータの確認　（dfの中を確認）
df
#行数の確認
len(df)

10000

3.2 transaction_masterの行数の確認

In [ ]:
# データセットの読み込み
df2 = pd.read_csv('transaction_history.csv')
# 読み込んだデータの確認（df2の中を確認）
df2
#行数の確認
len(df2)

458167

3.3 contact_historyの行数の確認

In [ ]:
# データセットの読み込み
df3 = pd.read_csv('contact_history.csv')
# 読み込んだデータの確認（df3の中を確認）
df3
# 行数の確認
len(df3)

5000

3.4 顧客マスタmaster_customerの列数の確認

In [ ]:
#読み込んだデータの確認（dfの中を確認）
df
#列数の確認
len(df.columns)

11

3.5 取引履歴transaction_historyの列数の確認

In [ ]:
#読み込んだデータの確認　（df2の中を確認）
df2
#列数の確認
len(df2.columns)

8

3.6 問い合わせ履歴contact_historyの列数の確認

In [ ]:
#読み込んだデータの確認　（df3の中を確認）
df3
#列数の確認
len(df3.columns)

5

3.7 顧客マスタデータmaster_customerの行数と列数を同時に確認

In [ ]:
#読み込んだデータの確認　（dfの中を確認）
df
#行数と列数の確認
df.shape

(10000, 11)

3.8 transaction_historyの行数と列数を同時に確認

In [ ]:
#読み込んだデータの確認　（df2の中を確認）
df2
#行数と列数の確認
df2.shape

(458167, 8)

3.9 contact_historyの行数と列数を同時に確認

In [ ]:
#読み込んだデータの確認　（df3の中を確認）
df3
#行数と列数の確認
df3.shape

(5000, 5)

3.10 info()メソッドを用いた行数と列数を同時確認方法

In [ ]:
#データの概要と行数・列数を確認
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             9669 non-null   float64
 1   registration_date       9668 non-null   object
 2   zip                     9661 non-null   object
 3   region                  9663 non-null   object
 4   gender                  9667 non-null   float64
 5   birthday                9663 non-null   object
 6   surname                 9667 non-null   object
 7   firstname               9667 non-null   object
 8   surname_alpha           9668 non-null   object
 9   firstname_alpha         9668 non-null   object
 10  first_purchase_trigger  6517 non-null   float64
dtypes: float64(3), object(8)
memory usage: 859.5+ KB

3.11 「冒頭の数行」を確認するhead()メソッド

In [ ]:
#読み込んだデータの冒頭数行を確認　（dfの冒頭を確認）
df.head()

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
0,1.0,2018/2/28,543-9190,東京都,0.0,1996/11/7,大西,奏太,Onishi,Souta,4.0
1,2.0,2019/6/9,363-1372,北海道,0.0,1992/9/16,三浦,拓也,Miura,Takuya,NaN
2,3.0,2020/9/5,706-1755,大阪府,1.0,1959/2/17,中島,優衣,Nakajima,Yui,8.0
3,4.0,2016/1/1,277-3282,愛知県,0.0,1977/11/11,原,陸,Hara,Riku,2.0
4,5.0,2011/9/24,485-6282,福岡県,0.0,1991/1/6,今井,翼,Imai,Tsubasa,7.0

3.12 「冒頭の10行」を確認するhead()メソッド

In [ ]:
#読み込んだデータの冒頭数行を確認　（dfの冒頭10行確認）
df.head(10)

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
0,1.0,2018/2/28,543-9190,東京都,0.0,1996/11/7,大西,奏太,Onishi,Souta,4.0
1,2.0,2019/6/9,363-1372,北海道,0.0,1992/9/16,三浦,拓也,Miura,Takuya,NaN
2,3.0,2020/9/5,706-1755,大阪府,1.0,1959/2/17,中島,優衣,Nakajima,Yui,8.0
3,4.0,2016/1/1,277-3282,愛知県,0.0,1977/11/11,原,陸,Hara,Riku,2.0
4,5.0,2011/9/24,485-6282,福岡県,0.0,1991/1/6,今井,翼,Imai,Tsubasa,7.0
5,6.0,2022/8/15,209-8236,広島県,1.0,1981/5/22,太田,恵子,Ota,Keiko,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,2019/9/1,386-1271,沖縄県,1.0,2000/1/21,森,愛,Mori,Ai,1.0
8,9.0,2018/8/1,255-8778,京都府,0.0,1970/2/27,菊地,直樹,Kikuchi,Naoki,NaN
9,10.0,2015/2/27,181-2062,栃木県,0.0,1981/6/11,松井,太郎,Matsui,Tarou,7.0

3.13 「末尾の5行」を確認するtail()メソッド

In [ ]:
#読み込んだデータの末尾を確認　（dfの末尾を確認）
df.tail()

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
9995,9996.0,2022/2/14,038-1879,愛媛県,0.0,1992/6/20,西村,昌,Nishimura,Sho,2.0
9996,9997.0,2015/6/8,495-1602,大阪府,0.0,1958/7/29,千葉,潔,Chiba,Kiyoshi,5.0
9997,9998.0,2010/3/26,685-2641,東京都,1.0,1965/10/24,石川,良,Ishikawa,Ryo,4.0
9998,9999.0,2010/11/17,513-3788,奈良県,1.0,1970/9/14,服部,みちる,Hattori,Michiru,4.0
9999,10000.0,2013/3/6,409-8780,北海道,2.0,1944/11/21,斉藤,鷹志,Saitou,Takashi,3.0

データの欠損を確認

3.14 読み込んだデータの欠損を確認するisnull()メソッド

In [ ]:
#読み込んだデータの欠損を確認
df.isnull()

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# ① 各列ごとのNull（欠損値）をカウント
null_counts_per_column = df.isnull().sum()
print("各列の欠損値数：")
print(null_counts_per_column)

# ② 全列がNullの行を抽出して、その件数をカウント
all_null_rows_count = df[df.isnull().all(axis=1)].shape[0]

# ③ 結果の出力
print(f"\n全ての列が欠損している行数: {all_null_rows_count}")

各列の欠損値数：
customer_id                331
registration_date          332
zip                        339
region                     337
gender                     333
birthday                   337
surname                    333
firstname                  333
surname_alpha              332
firstname_alpha            332
first_purchase_trigger    3483
dtype: int64

全ての列が欠損している行数: 331

In [ ]:
# すべての列が欠損している行のみを抽出
all_null_df = df[df.isnull().all(axis=1)]

# 行番号（インデックス）を含めて出力
print("全ての列が欠損している行：")
print(all_null_df.reset_index().rename(columns={"index": "行番号"}))

全ての列が欠損している行：
      行番号  customer_id registration_date  zip region  gender birthday surname  \
0       6          NaN               NaN  NaN    NaN     NaN      NaN     NaN
1      21          NaN               NaN  NaN    NaN     NaN      NaN     NaN
2      64          NaN               NaN  NaN    NaN     NaN      NaN     NaN
3     134          NaN               NaN  NaN    NaN     NaN      NaN     NaN
4     135          NaN               NaN  NaN    NaN     NaN      NaN     NaN
..    ...          ...               ...  ...    ...     ...      ...     ...
326  9875          NaN               NaN  NaN    NaN     NaN      NaN     NaN
327  9895          NaN               NaN  NaN    NaN     NaN      NaN     NaN
328  9900          NaN               NaN  NaN    NaN     NaN      NaN     NaN
329  9910          NaN               NaN  NaN    NaN     NaN      NaN     NaN
330  9915          NaN               NaN  NaN    NaN     NaN      NaN     NaN

    firstname surname_alpha firstname_alpha  first_purchase_trigger
0         NaN           NaN             NaN                     NaN
1         NaN           NaN             NaN                     NaN
2         NaN           NaN             NaN                     NaN
3         NaN           NaN             NaN                     NaN
4         NaN           NaN             NaN                     NaN
..        ...           ...             ...                     ...
326       NaN           NaN             NaN                     NaN
327       NaN           NaN             NaN                     NaN
328       NaN           NaN             NaN                     NaN
329       NaN           NaN             NaN                     NaN
330       NaN           NaN             NaN                     NaN

[331 rows x 12 columns]